.box-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 25px;
    margin-right: 5px !important;
    margin-left: 5px !important;
}

.padTop {
    padding-top: 40px;
}

.imageScale {
    width: 50%;
    margin: 0 auto;
}

.headerCenter{
    text-align: center;
}

.padBadges {
    padding-left: 5px;
}

